


<div [class]="styles.formStyleClasses" (click)="createQuizClick()">
    
    <button [class]="styles.buttonStyleClasses">[+] Create quiz</button>
    <br>
    
    <div class="flex flex-wrap mt-5" >
        
        @if (quizes.isLoading()) {
            
            <div [class]="styles.primaryTextColorStyleClasses"> Loading... </div>
            
        } @else if (quizes.error()) {
            
            <div [class]="styles.primaryTextColorStyleClasses"> Error, please try again later </div>
            
        } @else {
            
            
            @for (quiz of quizes.value(); track quiz.id) {
                <div [class]="styles.formGroupStyleClasses" class="bg-amber-100 dark:bg-amber-800 min-w-sm 
                p-3 py-8 dark:border-amber-50 border-amber-900 border-4
                hover:bg-amber-200 hover:dark:bg-amber-700 active:bg-amber-300 dark:active:bg-amber-600"
                (click)="quizClick(quiz.id)">
                <div> {{ quiz.title }}  </div>
                <br>
                <div class="text-xs">  {{ getQuestionsWord(quiz.numOfQuestions) }} </div>
                
            </div>
        }
    }
    
</div>

</div>